# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/

# API keys or sensitive files
*.env
apikey.txt

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Test coverage files
.coverage
*.cover
coverage.xml

# Temporary files
*.tmp
*.swp
*.bak
*.swo
*.orig

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Configurations or IDE-specific files
.vscode/
.idea/
*.sublime-workspace

# Packaging files
*.egg
*.egg-info/
dist/
build/
